



<div class="panel">
	<div class="panel-body">
		<div class="bs-callout bs-callout-info">
		Narzedzie do wrzucania eventow do bazy danych.<br>
		
		1. Wejdz na strone i wypelnij arkusz <br>
		<a href="https://docs.google.com/spreadsheets/d/1o_Fy9Wy3cg1IhEzwxlK1_sVsQyzYllO8_cKpuRE2go4/edit#gid=0" target="_blank">link do dokumentu googla</a><br>
		2. Wybierz Export JSON->Export to JSON.... <br>
		3. Pojawi sie okno z wygenerowanym plikiem.. skopiuj go<br>
		4. Wklej go w okienko na tej stronie i wcisnij 'Wygeneruj'
		
		Baza zostanie wyczyszczona i wygenerowana nowa
			
		</div>
		<textarea class="form-control" rows="10" ng-model="textarea.value"></textarea>
		<br>
		<button type="button" class="btn btn-success" ng-click="sendGen()">Wygeneruj</button><label style="margin-left:20px">{{logi.value}}</label>
	</div>
</div>

