
/*Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.). */
/*But in AngularJS adding empty href attributes to link tags will cause unwanted route changes. */
/*This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly. */
/*The remedy is simple, just add the following styling to your application:*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.mybody {
	background: #ffffff url(../images/background-wallpaper4.png);
}

.container-fixed {
	max-width: 165px;
	padding: 0px;
}

.page {
	background: #fff;
  /*padding-left: 0px;*/
  /*padding-right: 0px;*/
	border: 1px solid #ccc;
	border-width: 0 1px 3px 1px;
}

.page.page-white {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.icon-options {
	background-image: url("images/glyphicons/png/glyphicons_136_cogwheel.png");
	background-position: center center;
	  height: 24px;
  width: 24px;
}


.feedback::-webkit-input-placeholder {
  font-size: 13px;
}

.feedback:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
}

.feedback:-moz-placeholder {  /* Firefox 19+ */
  font-size: 13px;
}

.feedback:-ms-input-placeholder {
  font-size: 13px;
}


.borderless tbody > tr > td {
  border: none;
}

.navbar-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  /*text-align: center;*/

}

.navbar-nav  > li > a:hover,
.navbar-nav > li.active > a:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 -2px 0 #2196F3;
  box-shadow: inset 0 -2px 0 #2196F3;
  color: #2196F3;
}

.navbar-nav > li.active > a,
.navbar-nav > li.active > a:focus {
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 #2196F3;
  box-shadow: inset 0 -2px 0 #2196F3;
  color: #2196F3;
}
.navbar-nav > li.active > a:hover,
.navbar-nav > li.active > a:focus:hover {
  border: none;
  color: #2196F3;
}

.halfhidden > div {
  opacity: 0.2;
}

.halfhidden > div:hover {
  opacity: 1;
}


/*flash blinky*/
[blink-on-change] {
  transition: all 1s;
  -webkit-transition: all 1s;
}
[blink-on-change].changed {
  border-radius: 2px;
  background-color: #DDD;
  transition: none;
  -webkit-transition: none;
}
