.mybody {
	background: #ffffff url(../images/background-wallpaper.png);
}

.show-grid {
	margin-bottom: 15px;
}

.show-grid [class^="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86, 61, 124, .15);
	border: 1px solid rgba(86, 61, 124, .2);
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.container-fixed {
	max-width: 165px;
	padding: 0px;
}

.nice-pad {
	padding: 2px 0px 0px 0px;
	padding-left: 0px;
}

.page {
	background: #fff;
	padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
	border: 1px solid #ccc;
	border-width: 0 1px 4px 1px;
	border-top: 3px solid #222;
}

.page.page-white {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}


.icon-options {
	background-image: url("images/glyphicons/png/glyphicons_136_cogwheel.png");
	background-position: center center;
	  height: 24px;
  width: 24px;
}

th {
  text-align: right;
}

.table-light thead > tr > th {
  border-bottom: none !important;
  border-top: none !important;
}
