<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-5">
            <!--
              <div ng-controller="checklistController" class="" style="max-width: 200px; padding: 15px;">
                <my-check-list data="groups" model="groupSelections"></my-check-list>
                <button class="btn btn-default" ng-click="loadData(groupSelections)">Refresh</button>
              </div>
               -->
            <span>
            <div isteven-multi-select input-model="flatGroups" output-model="groupSelections" button-label="name"
                 item-label="name" selection-mode="multiple"
                 group-property="multiSelectGroup" tick-property="ticked" orientation="horizontal"
                 on-item-click="getSelected(data)" helper-elements=""></div>
            </span>
          </div>
          <div class="col-sm-7">
            <button class="btn btn-primary" ng-click="loadData(groupSelections)">Refresh</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-sm-12">
    <div class="page page-white">
      <div ng-include="'js/src/quickview/table.html'"></div>
    </div>
  </div>
</div>

<!--
SCROLLBAR
https://github.com/twbs/bootstrap/issues/10711

-->

