<div ng-repeat="group in tabledata.groups track by $index" ng-show="filterSelection(group._id)">
  <div class="alert alert-success" style="padding-top: 8px;padding-bottom: 8px; margin-bottom: 12px;">
    <button type="button" class="close" ng-click="unselectGroup(group._id)">&times;</button>
    <strong>{{group.name}}</strong>
  </div>

  <table st-table="group.data" class="table table-striped table-condensed">
    <thead>
    <tr>
      <!--<th>Lider</th>-->
      <th>Osoba</th>
      <th>Godz. zalog.</th>
      <th>Godz. wylog.</th>
      <th>Czas zalogowania</th>
      <th>Przerwa</th>
      <th>Bezczynność</th>
      <th style="text-align: right;">Aplikacje</th>
      <th>Aplikacje prod.</th>
      <th>Aplikacje nieprod.</th>
      <!--<th>Wydruki</th>-->
      <!--<th>Dane pakietowe</th>-->
      <th>Status 1</th>
      <th>Status 2</th>
      <th>Stanowisko</th>
      <th>EFK.</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in group.data track by $index">
      <!--<td>{{row.leader_name}}</td>-->
      <td uib-tooltip="{{row.worker_info}}" tooltip-placement="left" tooltip-append-to-body="true">{{row.worker_name}}</td>
      <td>{{row.login_datetime | date: 'HH:mm'}}</td>
      <td>{{row.logout_datetime | date: 'HH:mm'}}</td>
      <td>{{row.total_logged_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
      <td>{{row.total_break_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
      <td>{{row.total_idle_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
      <td blink-on-change="row.current_app" style="white-space: nowrap; text-align: right"><a href="#"
                                                                                                          uib-tooltip-template="'js/src/common/app_usage_pop_template.html'"
                                                                                                          tooltip-placement="right">{{row.current_app.image_fs_name}}</a>
      </td>
      <td>{{row.total_pro_apps_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
      <td>{{row.total_nonpro_apps_time| secondsToDateTime | date: 'HH:mm:ss'}}</td>
      <!--<td>{{row.print_qty}}</td>-->
      <!--<td>{{row.total_downloads_size | inkb}}</td>-->
      <td>{{row.custom_1 | secondsToDateTime | date: 'HH:mm:ss' }}</td>
      <td>{{row.custom_2 | secondsToDateTime | date: 'HH:mm:ss' }}</td>
      <td uib-tooltip="{{row.workstation.name}}" tooltip-placement="left" tooltip-append-to-body="true">{{row.workstation.name | truncDots}}</td>
      <td>{{row.effectiveness}}</td>
    </tr>

    </tbody>
  </table>
</div>
<script type="text/ng-template" id="myTooltipTemplate.html">
  <span>Special Tooltip with <strong>markup</strong> and {{ dynamicTooltipText }}</span>
</script>
