


<ul id="myNav" class="checklist nav nav-pills nav-stacked">
  <li ng-repeat="itm in data">
    <div class="checkbox">
      <label>
        <input type="checkbox" checklist-model="groupSelections" checklist-value="itm.name"> {{itm.name}}
      </label>
    </div>
  </li>
</ul>

<!--<ul id="myNav" class="checklist nav nav-pills nav-stacked">-->
<!-- -->
<!--<li ng-repeat="itm in data">-->
<!--<a href="javascript:void(0);">-->
<!--<label class="checkbox" >-->
<!--<input type="checkbox" checklist-model="groupSelections" checklist-value="$index">{{itm.name}}-->
<!--</label>-->
<!--</a>-->
<!--</li>		-->
<!--</ul>-->




<!-- <pre ng-bind="groupSelections | json"></pre>  -->

