


<div class="navbar navbar-default navbar-static-top" role="navigation" ng-app="myApp" ng-controller="navbarController">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="quickview"><div class="navbar-font" translate="menu_name_preview"></div><div style="font-size: 10px; margin-top: 3px; margin-left: 3px; color: #999999" translate="menu_text_preview"></div></a></li>
      <li ui-sref-active="active"><a ui-sref="history"><div class="navbar-font" translate="menu_name_history"></div><div style="font-size: 10px; margin-top: 3px; margin-left: 3px; color: #999999" translate="menu_text_history"></div></a></li>
      <li ui-sref-active="active"><a ui-sref="reports"><div class="navbar-font" translate="menu_name_report"></div><div style="font-size: 10px; margin-top: 3px; margin-left: 3px; color: #999999" translate="menu_text_report"></div></a></li>
      <li ui-sref-active="active"><a ui-sref="worker"><div class="navbar-font" translate="menu_name_employees"></div><div style="font-size: 10px; margin-top: 3px; margin-left: 3px; color: #999999" translate="menu_text_employees"></div></a></li>
      <li ui-sref-active="active"><a ui-sref="configuration"><div class="navbar-font" translate="menu_name_options"></div><div style="font-size: 10px; margin-top: 3px; margin-left: 3px; color: #999999" translate="menu_text_options"></div></a></li>
    </ul>



    <ul class="nav navbar-nav navbar-right">
    <li>
      <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>
    </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate="language_country">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#" ng-click="changeLanguage('pl')">Polska</a></li>
          <li><a href="#" ng-click="changeLanguage('en')">English</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <img src="http://www.gravatar.com/avatar/3293f2350e18db0068c30b527edda33b?d=identicon&f=y&s=30"  border: 1px solid #ccc; border-radius: 2px; position: absolute; top: 12px; left: 15px">
          <span style="margin-left:10px;">teste123916373@gmail.com</span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" translate="table_col_profile"></a></li>
          <li><a href="#" translate="table_col_logout_time"></a></li>
        </ul>
      </li>

      <li>
        <a ui-sref="quickview"><i class="glyphicon icon-options" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
  <!-- /container -->
</div>


<!--

<h2>
					Natalis <small>program do zarządzania efektywnością</small>
				</h2>

 -->
