**/*.sdf
**/*.lib
**/*.obj
3rd/**
**/*.exe
.sconsign.dblite
win-agent/agent/Debug/
desktop_agent.VC.db
desktop_agent.sln
agent/packages.config       
broker/.sconsign.dblite       
win-agent/broker/Debug/
broker/localrpc_test_server.VC.db
broker/localrpc_test_server.sln
thrift_gen/.sconsign.dblite
thrift_gen/gen-cpp/
thrift_gen/gen-java/
utils/.sconsign.dblite
utils/.vs/
utils/Debug/
utils/WindowsUtils.sln	