.mybody {
	background: #ffffff url(../images/background-wallpaper.png);
}

.show-grid {
	margin-bottom: 15px;
}

.show-grid [class^="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86, 61, 124, .15);
	border: 1px solid rgba(86, 61, 124, .2);
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

.container-fixed {
	max-width: 165px;
	padding: 0px;
}

.nice-pad {
	padding: 2px 0px 0px 0px;
	padding-left: 0px;
}

.page {
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-width: 0 1px 4px 1px;
	border-top: 3px solid #222222;
}

#stdtable th {
  //border-top: 3px solid #585858;
}

.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  vertical-align: middle;
  text-align: left;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: middle;
  padding: 0;
  line-height: 0.8;
  
  /* columns color*/
  color: blue;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;

}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
 //  width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: center;
  white-space: nowrap; /*whether to display in one line or not*/
}

.icon-options {
	background-image: url("images/glyphicons/png/glyphicons_136_cogwheel.png");
	background-position: center center;
	  height: 24px; 
  width: 24px;
}

