<div class="panel" style="width:90%">

	<div class="panel-body">

		<table>
			<tr>
				<td>

					<div class="input-daterange">
						<table>
							<tr>
								<td style="padding-right: 15px;"><div id="cal1" value="2012-04-05"></div></td>
								<td style="padding-right: 15px;"><div id="cal2" value="2012-04-07"></div></td>
							</tr>
						</table>
					</div>

				</td>

				<td>
					<div class="btn-group-vertical nice-pad btn-block">
						<button type="button" class="btn btn-primary btn-sm">Dni</button>
						<button type="button" class="btn btn-primary btn-sm">Miesiące</button>
						<button type="button" class="btn btn-primary btn-sm">Lata</button>
					</div>

					<div class="btn-group-vertical nice-pad btn-block">
						<button type="button" class="btn btn-primary btn-sm" ng-click="today()">Dziś</button>
						<button type="button" class="btn btn-primary btn-sm" ng-click="yesterday()">Wczoraj</button>
						<button type="button" class="btn btn-primary btn-sm" ng-click="last7days()">Ostatnie 7 dni</button>
						<button type="button" class="btn btn-primary btn-sm" ng-click="last30days()">Ostatnie 30 dni</button>
					</div>
				</td>
			</tr>
		</table>

	</div>
</div>

<!-- padding: 15px;
 -->





<!-- <pre ng-bind="groupSelections | json"></pre>







<div class="btn-group container-fixed">
	<div class="btn-group">
		<button type="button" class="btn btn-info">Dni</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-info">Miesiące</button>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-info">Lata</button>
	</div>
</div>

<div class="btn-group-vertical container-fixed col-sm-8 nice-pad btn-block">
	<button type="button" class="btn btn-primary btn-sm">Dziś</button>
	<button type="button" class="btn btn-primary btn-sm">Wczoraj</button>
	<button type="button" class="btn btn-primary btn-sm">Ostatnie 7 dni</button>
	<button type="button" class="btn btn-primary btn-sm">Ostatnie 30 dni</button>
</div>








-->

