<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--STYLES-->
<link rel="stylesheet" href="/bower_components/angular-ui-grid/ui-grid.css">
<link rel="stylesheet" href="/js/dependencies/bootstrap-datepicker-release/css/datepicker3.css">
<link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="/bower_components/angular-multi-select/isteven-multi-select.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/junk.css">
<!--STYLES END-->


	
</head>
<body class="mybody"> 
  <%-body%>
  <div ui-view></div>
  
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/moment/min/moment-with-locales.js"></script>
  <script src="/bower_components/moment-duration-format/lib/moment-duration-format.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/angular-ui-grid/ui-grid.js"></script>
  <script src="/bower_components/angular-smart-table/dist/smart-table.js"></script>
  <script src="/js/dependencies/bootstrap-datepicker-release/js/bootstrap-datepicker.js"></script>
  <script src="/js/dependencies/bootstrap-datepicker-release/js/locales/bootstrap-datepicker.pl.js"></script>
  <script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="/bower_components/angular-daterangepicker/js/angular-daterangepicker.js"></script>
  <script src="/bower_components/angular-multi-select/isteven-multi-select.js"></script>
  <script src="/js/dependencies/checklist-model.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/src/checklist/checklist.js"></script>
  <script src="/js/src/checklist/checklistController.js"></script>
  <script src="/js/src/checklist/checklistService.js"></script>
  <script src="/js/src/common/commonservices.js"></script>
  <script src="/js/src/common/popover.js"></script>
  <script src="/js/src/common/utilsModule.js"></script>
  <script src="/js/src/components/calendar/calendar.js"></script>
  <script src="/js/src/components/calendar/calendarController.js"></script>
  <script src="/js/src/components/calendar/calendarService.js"></script>
  <script src="/js/src/components/table_ex/table_ex.js"></script>
  <script src="/js/src/components/table_ex/table_exController.js"></script>
  <script src="/js/src/components/table_ex/table_exService.js"></script>
  <script src="/js/src/configuration/configuration.js"></script>
  <script src="/js/src/configuration/configurationController.js"></script>
  <script src="/js/src/feedback/feedback.js"></script>
  <script src="/js/src/feedback/feedbackController.js"></script>
  <script src="/js/src/filters/filters.js"></script>
  <script src="/js/src/historyview/historyview.js"></script>
  <script src="/js/src/historyview/historyviewController.js"></script>
  <script src="/js/src/navbar/navbar.js"></script>
  <script src="/js/src/navbar/navbarController.js"></script>
  <script src="/js/src/quickview/quickview.js"></script>
  <script src="/js/src/quickview/quickviewController.js"></script>
  <script src="/js/src/reportview/reportview.js"></script>
  <script src="/js/src/reportview/reportviewController.js"></script>
  <script src="/js/src/reportview/reportviewService.js"></script>
  <script src="/js/src/test/testController.js"></script>
  <script src="/js/src/tools/testgen.js"></script>
  <script src="/js/src/workerselect/workerselect.js"></script>
  <script src="/js/src/workerselect/workerselectController.js"></script>
  <script src="/js/src/workerselect/workerselectService.js"></script>
  <script src="/js/src/workerview/workerview.js"></script>
  <script src="/js/src/workerview/workerviewController.js"></script>
  <!--SCRIPTS END-->

</body>
</html>