<div ng-repeat="group in tabledata.groups" ng-show="filterSelection(group._id[0])">
	<!--<h4>-->
		<!--<span class="label label-default">New{{group.name}} <i-->
			<!--class="glyphicon glyphicon-remove" ng-click="unselectGroup(group._id)"></i></span>-->
	<!--</h4>-->
    <div class="alert alert-success" style="padding-top: 8px;padding-bottom: 8px; margin-bottom: 12px;">
       <button type="button" class="close" ng-click="unselectGroup(group._id[0])">&times;</button>
       <strong>{{group._id[0]}}</strong>
    </div>

	<table st-table="group.data" class="table table-condensed table-striped borderless">
		<thead>
    <tr>
      <th translate="table_col_leader"></th>
      <th translate="table_col_person"></th>
      <th translate="table_col_work_time"></th>
      <th translate="table_col_break_time"></th>
      <th translate="table_col_avg_break"></th>
      <th translate="table_col_activity_time"></th>
      <th translate="table_col_inactivity_time"></th>
      <th translate="table_col_productive"></th>
      <th translate="table_col_non_productive"></th>
<!--      <th>Wydrukow</th>
      <th>Sr. il. wydr.</th>
      <th>Dane pakietowe</th>
      <th>Sr. dane pkt.</th>-->

      <!--<th>Status1</th>-->
      <!--<th>Status2</th>-->
      <th translate="table_col_efficiency"></th>
    </tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in group.data track by $index">
				<td>{{row.leader_name}}</td>
				<td>{{row.worker_name}}</td>
				<td>{{row.total_logged_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<td>{{row.total_break_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.medium_break_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_nonidle_duration | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_idle_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<td>{{row.total_pro_apps_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_nonpro_apps_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<!--<td>{{row.print_qty}}</td>-->
				<!--<td>{{row.medium_print_qty}}</td>-->
				<!--<td>{{row.total_downloads_size}}</td>-->
				<!--<td>{{row.medium_download_size}}</td>-->
				<!--<td>{{row.status1}}</td>-->
				<!--<td>{{row.status2}}</td>-->
				<td>{{row.effectivity}}</td>
			</tr>

		</tbody>
	</table>
</div>

