<div ng-repeat="group in tabledata.groups">
	<!--<h4>-->
		<!--<span class="label label-default">New{{group.name}} <i-->
			<!--class="glyphicon glyphicon-remove" ng-click="unselectGroup(group._id)"></i></span>-->
	<!--</h4>-->

	<table st-table="group.data" class="table table-striped table-condensed">
		<thead>
    <tr>
      <th class="text-left" translate="table_col_break17"></th>
      <th class="text-left" translate="table_col_break1"></th>
      <th translate="table_col_break14"></th>
      <th translate="table_col_break15"></th>
      <th translate="table_col_break16"></th>
      <th translate="table_col_break18"></th>
      <th translate="table_col_break19"></th>
      <th translate="table_col_break8"></th>
      <th translate="table_col_break9"></th>
      <th translate="table_col_break20"></th>
      <th translate="table_col_break23"></th>
      <th translate="table_col_break21"></th>
      <th translate="table_col_break22"></th>
      <!--<th>Status1</th>-->
      <!--<th>Status2</th>-->
      <th translate="table_col_break13"></th>
    </tr>
		</thead>
		<tbody class="text-right">
			<tr ng-repeat="row in group.data track by $index">
				<td class="text-left">{{row.leader_name}}</td>
				<td class="text-left">{{row.worker_name}}</td>
				<td>{{row.total_logged_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<td>{{row.total_break_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.medium_break_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_nonidle_duration | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_idle_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<td>{{row.total_pro_apps_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_nonpro_apps_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<td>{{row.print_qty}}</td>
				<td>{{row.medium_print_qty}}</td>
				<td>{{row.total_downloads_size}}</td>
				<td>{{row.medium_download_size}}</td>
				<!--<td>{{row.status1}}</td>-->
				<!--<td>{{row.status2}}</td>-->
				<td>{{row.effectivity}}</td>
			</tr>

		</tbody>
	</table>
</div>

