





<div class="row" style="margin-bottom: 20px;">

  <div class="col-md-12">

    <ul class="nav nav-tabs" role="tablist" ng-show="naviTabShow">
      <li role="presentation" style="margin-left: 15px;">
        <div class="checkbox"><label><input type="checkbox" ng-model="varShowCalendar" translate="large_calender"></label></div>
      </li>
      <li role="presentation" style="margin-left: 15px;">
        <div class="checkbox"><label><input type="checkbox" ng-model="varShowSmallCalendar" translate="small_calender"></label></div>
      </li>
    </ul>

    <div class="panel panel-default">

      <div class="pull-right halfhidden">
        <span aria-hidden="true" ng-click="naviTabShow=!naviTabShow">+</span>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div ng-show="varShowCalendar">

              <table class="table-condensed">
                <tr>
                  <td>
                    <my-calendar first="datePicker.date.startDate" second="datePicker.date.endDate" min-view-mode="minViewMode"></my-calendar>
                  </td>

                  <td>
                    <div class="btn-group-vertical nice-pad btn-block">
                      <button type="button" class="btn btn-primary btn-sm" ng-click="calendarModeDays()" ng-class="{'active': interval == 'days'}" translate="button_mode_days"></button>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="calendarModeMonths()" ng-class="{'active': interval == 'months'}" translate="button_mode_month"></button>
                      <button type="button" class="btn btn-primary btn-sm" ng-click="calendarModeYears()" ng-class="{'active': interval == 'years'}" translate="button_mode_patch"></button>
                    </div>

                    <div class="btn-group-vertical nice-pad btn-block">
                      <button type="button" class="btn btn-success btn-sm" ng-click="calendarSetToday()" translate="button_mode_today"></button>
                      <button type="button" class="btn btn-success btn-sm" ng-click="calendarSetYesterday()" translate="button_mode_yesterday"></button>
                      <button type="button" class="btn btn-success btn-sm" ng-click="calendarSetLast7days()" translate="last_seven_days"></button>
                      <button type="button" class="btn btn-success btn-sm" ng-click="calendarSetLast30days()" translate="last_thirty_days"></button>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <div ng-show="varShowSmallCalendar">
              <input date-range-picker class="form-control date-picker" type="text" ng-model="datePicker.date"
                     options="datePicker.options"/>
            </div>
          </div>

          <div class="col-sm-2">

            <div ng-controller="checklistController" class="" style="max-width: 200px; padding: 15px;">
              <my-check-list data="groups" model="groupSelections"></my-check-list>
              <button class="btn btn-default" ng-click="loadData(groupSelections)">Refresh</button>
            </div>
          </div>

          <div class="col-sm-4 col-md-offset-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#all" aria-controls="home" role="tab" data-toggle="tab" translate="all_tab"></a></li>
      <li role="presentation" class="active"><a href="#activity" aria-controls="profile" role="tab" data-toggle="tab" translate="activity_tab"></a></li>
      <li role="presentation"><a href="#others" aria-controls="messages" role="tab" data-toggle="tab" translate="other_tab"></a></li>
    </ul>
    <div class="page page-white">
      <!-- Tab panes -->
      <div class="tab-content">


        <div role="tabpanel" class="tab-pane" id="all"><div ng-include="'js/src/historyview/all.html'"></div></div>
        <div role="tabpanel" class="tab-pane active" id="activity"><div ng-include="'js/src/historyview/activities.html'"></div></div>
        <div role="tabpanel" class="tab-pane" id="others"><div ng-include="'js/src/historyview/others.html'"></div></div>

        <div style="height:150px" ng-show="loading">
          <div class="spinner-loader" style="position: absolute;top: 50%;left: 50%;">
            Loading…
          </div>
        </div>

      </div>
    </div>
  </div>



</div>






<!--
SCROLLBAR
https://github.com/twbs/bootstrap/issues/10711

-->

