





<div class="row" style="margin-bottom: 20px;">

  <div class="col-md-12">

    <ul class="nav nav-tabs" role="tablist" ng-show="naviTabShow">
      <li role="presentation" style="margin-left: 15px;">
        <div class="checkbox"><label><input type="checkbox" ng-model="varShowCalendar"> Duzy kalendarz</label></div>
      </li>
      <li role="presentation" style="margin-left: 15px;">
        <div class="checkbox"><label><input type="checkbox" ng-model="varShowSmallCalendar"> Maly kalendarz</label></div>
      </li>
    </ul>

    <div class="panel panel-default">

      <div class="pull-right halfhidden">
        <span aria-hidden="true" ng-click="naviTabShow=!naviTabShow">+</span>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div ng-show="varShowCalendar">
              <my-calendar first="data1" second="data2"></my-calendar>
            </div>

            <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />
          </div>

          <div class="col-sm-2">

            <div ng-controller="checklistController" class="" style="max-width: 200px; padding: 15px;">
              <my-check-list data="groups" model="groupSelections"></my-check-list>
              <button class="btn btn-default" ng-click="loadData(groupSelections)">Refresh</button>
            </div>
          </div>

          <div class="col-sm-4 col-md-offset-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 20px;">
  <div class="col-md-12">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation"><a href="#all" aria-controls="home" role="tab" data-toggle="tab">Wszystkie</a></li>
      <li role="presentation" class="active"><a href="#activity" aria-controls="profile" role="tab" data-toggle="tab">Aktywnosc</a></li>
      <li role="presentation"><a href="#others" aria-controls="messages" role="tab" data-toggle="tab">Inne</a></li>
    </ul>
    <div class="page page-white">
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="all"><div ng-include="'js/src/historyview/all.html'"></div></div>
        <div role="tabpanel" class="tab-pane active" id="activity"><div ng-include="'js/src/historyview/activities.html'"></div></div>
        <div role="tabpanel" class="tab-pane" id="others"><div ng-include="'js/src/historyview/others.html'"></div></div>
      </div>
    </div>
  </div>



</div>






<!--
SCROLLBAR
https://github.com/twbs/bootstrap/issues/10711

-->

