<div ng-repeat="group in tabledata.groups">
	<h4>
		<span class="label label-default">New{{group.name}} <i
			class="glyphicon glyphicon-remove" ng-click="unselectGroup(group._id)"></i></span>
	</h4>

	<table st-table="group.data" class="table table-condensed table-light">
		<thead style="background-color: #ECECED">
			<tr>
				<th rowspan="2">#</th>
				<th rowspan="2">Lider</th>
				<th rowspan="2">Osoba</th>
				<th rowspan="2">Czas<br>pracy</th>
        <th rowspan="2">Czas<br>przerwy</th>
        <th rowspan="2">Czas<br>sr. przerwy</th>
        <th rowspan="2">Czas<br>aktywnosci</th>
        <th rowspan="2">Czas<br>bezczynnosci</th>

				<th colspan="2">Aplikacje</th>
				<th colspan="2">Wydruki</th>
				<th colspan="2">Dane pakietowe</th>


				<th rowspan="2">Status1</th>
				<th rowspan="2">Status2</th>
				<th rowspan="2">Efektywnosc</th>
			</tr>
      <tr class="table-bottom-border">
        <th>prod.</th>
        <th>nieprod.</th>

        <th>szt.</th>
        <th>Sr. il.</th>

        <th>Ilosc</th>
        <th>Sr. il.</th>
      </tr>
		</thead>
		<tbody class="text-right">
			<tr ng-repeat="row in group.data track by $index">
				<td>{{$index}}</td>
				<td>{{row.leader_name}}</td>
				<td>{{row.worker_name}}</td>
				<td>{{row.total_logged_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<td>{{row.total_break_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.medium_break_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_nonidle_duration | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_idle_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<td>{{row.total_pro_apps_time | secondsToDateTime | date: 'HH:mm:ss'}}</td>
				<td>{{row.total_nonpro_apps_time | secondsToDateTime | date: 'HH:mm:ss' }}</td>
				<td>{{row.print_qty}}</td>
				<td>{{row.medium_print_qty}}</td>
				<td>{{row.total_downloads_size}}</td>
				<td>{{row.medium_download_size}}</td>
				<td>{{row.status1}}</td>
				<td>{{row.status2}}</td>
				<td>{{row.effectivity}}</td>
			</tr>

		</tbody>
	</table>
</div>

