

<div >

	<table id="stdtable" class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th translate="table_col_break17"></th>
				<th translate="table_col_break1"></th>
				<th translate="table_col_break14"></th>
				<th translate="table_col_break15"></th>
				<th translate="table_col_break16"></th>
				<th translate="table_col_break18"></th>
				<th translate="table_col_break19"></th>
				<th translate="table_col_break8"></th>
				<th translate="table_col_break9"></th>
				<th translate="table_col_break20"></th>
				<th translate="table_col_break23"></th>
				<th translate="table_col_break21"></th>
				<th translate="table_col_break22"></th>
				<th translate="table_col_break10"></th>
				<th translate="table_col_break11"></th>
				<th translate="table_col_break13"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in table">
				<td>{{$index}}</td>
				<td>{{row.leader_name}}</td>
				<td>{{row.worker_name}}</td>
				<td>{{row.total_logged_time}}</td>
				<td>{{row.total_break_time}}</td>
				<td>{{row.medium_break_time}}</td>
				<td>{{row.total_nonidle_duration}}</td>
				<td>{{row.total_idle_time}}</td>
				<td>{{row.total_pro_apps_time}}</td>
				<td>{{row.total_nonpro_apps__time}}</td>
				<td>{{row.print_qty}}</td>
				<td>{{row.medium_print_qty}}</td>
				<td>{{row.total_downloads_size}}</td>
				<td>{{row.medium_download_size}}</td>
				<td>{{row.status1}}</td>
				<td>{{row.status2}}</td>
				<td>{{row.effectivity}}</td>
			</tr>

		</tbody>
	</table>
</div>

