

<div >

	<table id="stdtable" class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th translate="table_col_leader"></th>
				<th translate="table_col_person"></th>
				<th translate="table_col_work_time"></th>
				<th translate="table_col_break_time"></th>
				<th translate="table_col_avg_break"></th>
				<th translate="table_col_activity_time"></th>
				<th translate="table_col_inactivity_time"></th>
				<th translate="table_col_productive"></th>
				<th translate="table_col_non_productive"></th>
				<th translate="table_col_printed"></th>
				<th translate="table_col_avg_numbers"></th>
				<th translate="table_col_packet_data"></th>
				<th translate="table_col_avg_packet"></th>
				<th translate="table_col_status1"></th>
				<th translate="table_col_status2"></th>
				<th translate="table_col_efficiency"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in table">
				<td>{{$index}}</td>
				<td>{{row.leader_name}}</td>
				<td>{{row.worker_name}}</td>
				<td>{{row.total_logged_time}}</td>
				<td>{{row.total_break_time}}</td>
				<td>{{row.medium_break_time}}</td>
				<td>{{row.total_nonidle_duration}}</td>
				<td>{{row.total_idle_time}}</td>
				<td>{{row.total_pro_apps_time}}</td>
				<td>{{row.total_nonpro_apps__time}}</td>
				<td>{{row.print_qty}}</td>
				<td>{{row.medium_print_qty}}</td>
				<td>{{row.total_downloads_size}}</td>
				<td>{{row.medium_download_size}}</td>
				<td>{{row.status1}}</td>
				<td>{{row.status2}}</td>
				<td>{{row.effectivity}}</td>
			</tr>

		</tbody>
	</table>
</div>

