

<div >

	<table id="stdtable" class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th translate="group_table_row17"></th>
				<th translate="group_table_row1"></th>
				<th translate="group_table_row14"></th>
				<th translate="group_table_row15"></th>
				<th translate="group_table_row16"></th>
				<th translate="group_table_row18"></th>
				<th translate="group_table_row19"></th>
				<th translate="group_table_row8"></th>
				<th translate="group_table_row9"></th>
				<th translate="group_table_row20"></th>
				<th translate="group_table_row23"></th>
				<th translate="group_table_row21"></th>
				<th translate="group_table_row22"></th>
				<th translate="group_table_row10"></th>
				<th translate="group_table_row11"></th>
				<th translate="group_table_row13"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="row in table">
				<td>{{$index}}</td>
				<td>{{row.leader_name}}</td>
				<td>{{row.worker_name}}</td>
				<td>{{row.total_logged_time}}</td>
				<td>{{row.total_break_time}}</td>
				<td>{{row.medium_break_time}}</td>
				<td>{{row.total_nonidle_duration}}</td>
				<td>{{row.total_idle_time}}</td>
				<td>{{row.total_pro_apps_time}}</td>
				<td>{{row.total_nonpro_apps__time}}</td>
				<td>{{row.print_qty}}</td>
				<td>{{row.medium_print_qty}}</td>
				<td>{{row.total_downloads_size}}</td>
				<td>{{row.medium_download_size}}</td>
				<td>{{row.status1}}</td>
				<td>{{row.status2}}</td>
				<td>{{row.effectivity}}</td>
			</tr>

		</tbody>
	</table>
</div>

