<table class="table-condensed">
  <tr>
    <td>

      <div class="input-daterange">
        <table>
          <tr>
            <td style="padding-right: 15px;"><div id="cal1" value="2012-04-05"></div></td>
            <td style="padding-right: 15px;"><div id="cal2" value="2012-04-07"></div></td>
          </tr>
        </table>
      </div>

    </td>

    <td>
      <div class="btn-group-vertical nice-pad btn-block">
        <button type="button" class="btn btn-primary btn-sm" translate="button_mode_days"></button>
        <button type="button" class="btn btn-primary btn-sm" translate="button_mode_months"></button>
        <button type="button" class="btn btn-primary btn-sm" translate="button_mode_years"></button>
      </div>

      <div class="btn-group-vertical nice-pad btn-block">
        <button type="button" class="btn btn-success btn-sm" ng-click="today()" translate="button_today"></button>
        <button type="button" class="btn btn-success btn-sm" ng-click="yesterday()" translate="button_yesterday"></button>
        <button type="button" class="btn btn-success btn-sm" ng-click="last7days()" translate="button_last_seven_days"></button>
        <button type="button" class="btn btn-success btn-sm" ng-click="last30days()" translate="button_last_thirty_days"></button>
      </div>
    </td>
  </tr>
</table>
