<div ng-controller="feedbackController">
	<div class="col-md-10">
	  <div class="form-group">
	    <from role="form">
	        <textarea class="form-control feedback" ng-model="feedback.text" maxlength="1000" rows="3" placeholder="{{ 'suggestion_box_place' | translate }}"></textarea>
	    </from>
	  </div>
	</div>

	<div class="col-md-2">
	  <button type="button" class="btn btn-default" ng-disabled="isClicked" ng-click="submitFeedback()" translate="suggestion"></button>
	  <div style="font-size: 10px; margin-top: 3px; margin-left: 3px; color: #999999" translate="suggestion_msg"></div>
	</div>
</div>